<div class="row">
  <div ng-repeat="photo in photos.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))" class="col-3 d-flex justify-content-center">
    {{error}}
    <div class="card m-3 Card_effect" style="width:280px">
      <img src="{{photo.url}}" class="card-img-top" alt="photo">
      <div class="card-body">
        <p class="card-text">{{photo.title}}</p>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <ul uib-pagination total-items="photos.length" ng-model="currentPage" items-per-page="itemsPerPage"></ul>
  </div>
</div>